@charset "UTF-8";

/*-------------------------
  初期化
-------------------------*/

body {
  padding-top: 100px;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

/*-------------------------
  トップ
-------------------------*/
  
.topics p {
  text-align: justify;
}
